<!-- Trabalho Desenvolvido na Data Science Academy - www.datascienceacademy.com.br -->
# <font color='blue'>Data Science Academy</font>
# <font color='blue'>Fundamentos de Linguagem Python - Do Básico a Aplicações de IA</font>
# <font color='blue'>Lista 1 de Exercícios</font>

#### Exercício 1

Escreva um programa que peça ao usuário para digitar seu nome e, em seguida, imprima uma mensagem de boas-vindas com o nome fornecido.

In [ ]:
# Solução
nome = input("Digite o seu nome:")
print(f"Olá {nome}, seja bem vindo!")

#### Exercício 2

Crie duas variáveis, numero1 e numero2, e atribua a elas valores inteiros. Calcule a soma, subtração, multiplicação e divisão dessas variáveis e imprima os resultados.

In [5]:
# Solução
N1 = input("Digite o primeiro número:")
N1 = int(N1)
N2 = input("Digite o segundo número:")
N2 = int(N2)

SOMA = N1 + N2
SUB = N1 - N2
MULT = N1 * N2
DIV = N1 / N2
print(f"O resultado da soma dos números digitados é: {SOMA}")
print(f"O resultado da subtração dos números digitados é: {SUB}")
print(f"O resultado da multiplicação dos números digitados é: {MULT}")
print(f"O resultado da divisão dos números digitados é: {DIV}")

Digite o primeiro número: 40
Digite o segundo número: 75

O resultado da soma dos números digitados é: 115
O resultado da subtração dos números digitados é: -35
O resultado da multiplicação dos números digitados é: 3000
O resultado da divisão dos números digitados é: 0.5333333333333333

#### Exercício 3 

Qual é a principal diferença entre uma variável de escopo local e uma de escopo global?

In [8]:
# Solução
"""Nada melhor a descrever uma resposta para esta questão do que o material de apoio fornecido pela DSA, que resume:
Variáveis Globais: Declaradas fora de qualquer função. Podem ser acessadas de qualquer lugar do código.

Variáveis Locais: Declaradas dentro de uma função. Só podem ser acessadas dentro daquela função."""

#Exemplo prático aplicado:

# Variável Global
saudacao = "Olá, mundo!"
nome = "Aluno DSA"

# Função
def minha_funcao_dsa():
    
    # Variável Local
    nome = "Ana"
    print(f"\nDentro da função: {nome}")
    print(f"\nAcessando a variável global de dentro da função: {saudacao}")

minha_funcao_dsa()

print(f"\nFora da função: {saudacao}")
print(f"\nFora da função: {nome}")

Dentro da função: Ana

Acessando a variável global de dentro da função: Olá, mundo!

Fora da função: Olá, mundo!

Fora da função: Aluno DSA

#### Exercício 4

Crie uma variável chamada saldo com o valor 500.50 (float). Em seguida, crie uma variável saque com o valor 200.25 (float). Subtraia o saque do saldo e imprima o saldo final formatado para duas casas decimais.

In [10]:
# Solução
saldo = 500.50
saque = 200.25
saldo_novo = saldo - saque

print(f"Foram sacados R${saque:.2f}, seu saldo atual é de: R${saldo_novo:.2f}")

Foram sacados R$200.25, seu saldo atual é de: R$300.25

#### Exercício 5

Declare uma variável booleana chamada **tem_carteira_de_motorista** e atribua a ela o valor True. Imprima uma mensagem que diga "Pode dirigir" se a variável for verdadeira e "Não pode dirigir" caso contrário.

In [1]:
# Solução

tem_carteira_de_motorista = True

if tem_carteira_de_motorista == True:
    print("Pode dirigir")
else:
    print("Não pode dirigir")

Pode dirigir

#### Exercício 6

Crie duas variáveis: 

- idade_ana = 25
- idade_beto = 30

Use operadores de comparação para verificar se a idade de Ana é menor que a de Beto e imprima o resultado booleano.

In [4]:
# Solução

idade_ana = 25
idade_beto = 30

print(f"Ana é mais velha que Beto? {idade_ana >= idade_beto}")
print(f"Ana é mais nova que Beto? {idade_ana <= idade_beto}")

Ana é mais velha que Beto? False
Ana é mais nova que Beto? True

#### Exercício 7

Receba um número inteiro do usuário e use o operador de módulo (%) para verificar se o número é par ou ímpar. Imprima o resultado.

Obs: Não estudamos ainda os condicionais, mas pesquise se necessário e tente resolver.

In [5]:
# Solução

numero = input("Digite um número")
numero = int(numero)

if numero % 2 == 0:
    print("Esse número é par")
else:
    print("Esse número é ímpar")

Digite um número 3

Esse número é ímpar

#### Exercício 8

Crie duas variáveis booleanas: 

- chovendo = True
- guarda_chuva = False

Use operadores lógicos para verificar se uma pessoa vai se molhar (se está chovendo E ela não tem guarda-chuva).

In [9]:
# Solução

chovendo = True
guarda_chuva = False

if chovendo == True and guarda_chuva == True:
    print("Você não vai se molhar!")
else: print("Você irá molhar!!")

Você irá molhar!!

#### Exercício 9

Calcule a potência de 2 elevado a 10 e imprima o resultado.

In [14]:
# Solução
N = 2
print(N**10)

1024

#### Exercício 10

Converta a string "2026" para um tipo inteiro e armazene-a em uma variável chamada ano. Em seguida, some 1 a essa variável e imprima o novo ano.

In [18]:
# Solução
ano_texto = "2026"
print(type(ano_texto))
ano_novo = ano + 1
print(ano_novo)

<class 'str'>
2027

#### Exercício 11

Crie a string:

frase = "   Python é uma linguagem poderosa e estou aprendendo com a DSA   ". 

Remova os espaços em branco do início e do fim da string e imprima a nova string.

In [22]:
# Solução

frase = " Python é uma linguagem poderosa e estou aprendendo com a DSA "
print (f"Frase sem espaço '{frase.strip()}'")

Frase sem espaço 'Python é uma linguagem poderosa e estou aprendendo com a DSA'

#### Exercício 12

Na string do exercício anterior (já sem os espaços), converta toda a frase para letras maiúsculas.

In [25]:
# Solução
frase_sem_espaco = frase.strip()
print(f"Frase maiúscula '{frase_sem_espaco.upper()}'")

Frase maiúscula 'PYTHON É UMA LINGUAGEM PODEROSA E ESTOU APRENDENDO COM A DSA'

#### Exercício 13

Ainda usando a mesma string, substitua a palavra "poderosa" por "incrível".

In [26]:
# Solução
print(f"Substituindo 'poderosa' por 'incrível': {frase_sem_espaco.replace('poderosa', 'incrível')}")

Substituindo 'poderosa' por 'incrível': Python é uma linguagem incrível e estou aprendendo com a DSA

#### Exercício 14

Verifique e imprima o número total de caracteres na string frase (após as modificações dos exercícios anteriores).

In [28]:
# Solução
print(f"Tamanho da frase: {len(frase_sem_espaco)} caracteres")

Tamanho da frase: 60 caracteres

#### Exercício 15

Use fatiamento (slicing) para extrair e imprimir apenas a palavra "Python" da string frase.

In [32]:
# Solução
print(frase_sem_espaco)
print(f"O primeiro caractere: {frase_sem_espaco[0]}")
print(f"A palavra 'Python': {frase_sem_espaco[0:6]}")

Python é uma linguagem poderosa e estou aprendendo com a DSA
O primeiro caractere: P
A palavra 'Python': Python

#### Exercício 16

Crie uma lista chamada compras com os seguintes itens: "arroz", "feijão", "macarrão", "carne". Imprima a lista.

In [36]:
# Solução
lista = ["arroz", "feijão", "macarrão", "carne"]
print(lista)

['arroz', 'feijão', 'macarrão', 'carne']

#### Exercício 17

Adicione o item "leite" ao final da lista compras e imprima a lista atualizada.

In [37]:
# Solução
lista.append("leite")
print(lista)

['arroz', 'feijão', 'macarrão', 'carne', 'leite']

#### Exercício 18

Acesse e imprima o segundo item da lista compras.

In [39]:
# Solução

# Acessando um item pelo índice
print(f"O primeiro item é: {lista[0]}")
print(f"O segundo item é: {lista[1]}")

O primeiro item é: arroz
O segundo item é: feijão

#### Exercício 19

Remova o item "macarrão" da lista compras e imprima a lista final.

In [40]:
# Solução
lista.remove("macarrão")
print(f"Lista após remover macarrão: {lista}")

Lista após remover macarrão: ['arroz', 'feijão', 'carne', 'leite']

#### Exercício 20

Crie uma lista de números de 1 a 5. Use uma função para calcular e imprimir o tamanho (número de elementos) dessa lista.

In [45]:
# Solução
numeros = [1, 2, 3, 4, 5]

def contar(lista):
    contador = len(lista)
    print (f"A lista tem {contador} itens")

contar(numeros)

A lista tem 5 itens

#### Exercício 21

Crie uma tupla chamada meses com os três primeiros meses do ano: "Janeiro", "Fevereiro", "Março".

In [49]:
# Solução

primeiro_trimestre = ("Janeiro", "Fevereiro", "Março")
type(primeiro_trimestre)

tuple

#### Exercício 22

Tente adicionar o mês "Abril" à tupla meses. O que acontece? Explique o resultado.

In [50]:
# Solução
primeiro_trimestre.append("Abril")

AttributeError: 'tuple' object has no attribute 'append'

#### Exercício 23

Acesse e imprima o primeiro mês da tupla meses.

In [52]:
# Solução
print(f"O primeiro mês é {primeiro_trimestre[0]}")

O primeiro mês é Janeiro

#### Exercício 24

Crie um dicionário chamado filme com as seguintes chaves e valores: 

- titulo = "O Poderoso Chefão",
- ano = 1972
- diretor = "Francis Ford Coppola"

In [53]:
# Solução
filme = {
    "titulo": "O Poderoso Chefão",
    "ano": 1972,
    "diretor": "Francis Ford Coppola"    
}
print(type(filme))

<class 'dict'>

#### Exercício 25

Acesse e imprima o ano de lançamento do filme a partir do dicionário.

In [55]:
# Solução
print(f"Ano do Lançamento: {filme['ano']}")

Ano do Lançamento: 1972

#### Exercício 26

Adicione uma nova chave genero com o valor "Drama" ao dicionário filme e imprima o dicionário completo.

In [56]:
# Solução
filme["genero"] = "Drama"
print(f"Dicionário atualizado:\n {filme}")

Dicionário atualizado:
 {'titulo': 'O Poderoso Chefão', 'ano': 1972, 'diretor': 'Francis Ford Coppola', 'genero': 'Drama'}

#### Exercício 27

Modifique o valor da chave ano para 1973 e imprima o dicionário atualizado.

In [59]:
# Solução
filme["ano"] = 1973
print(f"Ano atualizado: {filme['ano']}")

Ano atualizado: 1973

#### Exercício 28

Crie uma lista com os seguintes números: [1, 2, 2, 3, 4, 4, 5, 1]. Use um conjunto para remover os números duplicados e imprima o resultado.

In [62]:
# Solução
numeros = {1, 2, 2, 3, 4, 4, 5, 1}
print(f"Conjunto da lista sem duplicatas: {numeros}")

Conjunto da lista sem duplicatas: {1, 2, 3, 4, 5}

#### Exercício 29

Crie dois conjuntos: 

- set_a = {1, 2, 3, 4}
- set_b = {3, 4, 5, 6}

Encontre e imprima a interseção entre os dois conjuntos (os elementos que estão em ambos).

In [65]:
# Solução
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

intersecao = set_a.intersection(set_b)
print(f"União de A e B: {intersecao}")

União de A e B: {3, 4}

#### Exercício 30

Escreva um programa que peça ao usuário para digitar sua altura em metros (ex: 1.75) e seu peso em quilogramas (ex: 68.5). Calcule o Índice de Massa Corporal (IMC) usando a fórmula IMC = peso / (altura * altura) e imprima o resultado formatado com duas casas decimais.

In [70]:
# Solução
altura = input("Digite a sua altura: ")
peso = input("Digite o seu peso: ")

altura = float(altura)
peso = float(peso)

IMC = peso/(altura**2)
print(f"Sua idade é {idade}, e seu peso é {peso}. O seu IMC é de: {IMC:.2f}")

Digite a sua altura:  1.75
Digite o seu peso:  68.5

Sua idade é 1.75, e seu peso é 68.5. O seu IMC é de: 22.37

# Fim